
<div class="container" style="margin-top: 20px" *ngFor="let graph of graphs">
  <div class="row">
    <div class="span3 well">
      <div class="row">
        <div class="span3">
          <p><strong>{{ graph.name }}</strong></p>
          <button (click)="onOpen(graph.id)" class="btn btn-info">Open</button>
          <button (click)="onDelete(graph.id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
