<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">



<div class="container" style="margin-top: 40px">
  <div class="row">
    <div class="col-lg-12">
      <button [routerLink]="['/graphs']" type="button" class="btn btn-primary">Graphs</button>
      <button [routerLink]="['/create']" type="button" class="btn btn-success">Create graph</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

