<div class="container">
<div class="col-md-4">
  <div class="form-group">
    <label>Graph name</label>
      <input #name type="text" class="form-control">
  </div>
   <button (click)="onCreate(name.value)"  class="btn btn-primary" >Create</button>
</div>
</div>
<router-outlet></router-outlet>
