<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card bg-light mb-3">
                <div class="card-header">Find path</div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Vertex 1 id</label>
                    <input #vp1 type="number" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Vertex 2 id</label>
                    <input #vp2 type="text" class="form-control">
                  </div>
                  <button (click)="onFindPath(vp1.value, vp2.value)" class="btn btn-primary btn-sm">Find Path
                  </button>
                  <div class="form-group">
                    <label>Result</label>
                    <label>
                      <input [(ngModel)]="findResult" type="number" class="form-control" disabled>
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card bg-light">
                <div class="card-header">Graph</div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <svg width="960" height="600"></svg>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card bg-light mb-3">
                <div class="card-header">Add Vertex</div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Vertex name</label>
                    <input #name type="" class="form-control">
                    </div>
                    <button (click)="onCreateVertex(name.value)"  class="btn btn-primary ">Add</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-light mb-3">
                <div class="card-header">Add Path (! Add both directions)</div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Vertex 1 id</label>
                    <input #v1 type="number" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Vertex 2 id</label>
                    <input #v2 type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Weight</label>
                    <input #weight type="number" class="form-control">
                  </div>
                  <button (click)="onCreatePath(v1.value, v2.value, weight.value)" class="btn btn-primary">Add Path
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<div class="form-group">-->
        <!--<label>Vertex name</label>-->
        <!--<input #name type="text" class="form-control">-->
      <!--</div>-->
      <!--<button (click)="onCreateVertex(name.value)"  class="btn btn-primary">Add Vertex</button>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<div class="form-group">-->
        <!--<label>Vertex 1</label>-->
        <!--<input #v1 type="text" class="form-control">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label>Vertex 2</label>-->
        <!--<input #v2 type="text" class="form-control">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label>Weight</label>-->
        <!--<input #weight type="text" class="form-control">-->
      <!--</div>-->
      <!--<button (click)="onCreatePath(v1.value, v2.value, weight.value)"  class="btn btn-primary">Add Path</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <!--<div class="col-md-7">-->
    <!--<svg width="960" height="600"></svg>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
